/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(229, 50%, 13%);
    --first-color-alt: hsl(228, 66%, 47%);
    --first-color-light: hsl(228, 62%, 59%);
    --first-color-lighten: hsl(228, 100%, 97%);
    --second-color:  hsl(228, 62%, 59%);
    --title-color: hsl(228, 57%, 28%);
    --text-color: hsl(228, 15%, 50%);
    --text-color-light: hsl(228, 12%, 75%);
    --border-color: hsl(228, 99%, 98%);
    --body-color: #fff;
    --container-color: #fff;
    --white-color:#fff;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

}
@media screen and (min-width: 768px) {
    :root {
        --small-font-size: 0.938rem;
    }
}

/*===== z index =====*/
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*===== BASE =====*/
*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 1rem 0 0 5rem;
    font-family: var(--body-font);
    background-color: var(--white-color);
    -webkit-transition: .5s;
    transition: .5s;
}

h1 {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/*=====  NAV =====*/
.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 56px;
    height: 100vh;
    background-color: var(--first-color);
    padding: 1.25rem .5rem 2rem;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    --text-color: white;
}

.nav__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 .5rem;
    color: white;
}

.nav__logo-icon {
    margin-right: 1.2rem;
    color: white;
}

.nav__logo-text {
    color: var(--white-color);
    font-weight: 700;
}

.nav__toggle {
    position: absolute;
    top: 1.10rem;
    right: -.6rem;
    width: 18px;
    height: 18px;
    background-color: var(--second-color);
    border-radius: 50%;
    font-size: 1.25rem;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
}

.nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    color: var(--white-color);
    -webkit-transition: .3s;
    transition: .3s;
    margin-right: 1.2rem;
}
.tamIcons{
    margin-right: 1.2rem;
}
.nav__link:hover {
    background-color: var(--second-color);
    color: white;
}

.nav__icon {
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.nav__text {
    font-weight: 700;
}

/*Show menu*/
.show {
    width: 210px;
}

/*Rotate toggle*/
.rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .5s;
    transition: .5s;
}

/*Active links menu*/
.active {
    background-color: var(--second-color);
    color: white;
}

/*Add padding body*/
.expander {
    padding: 1rem 0 0 12rem;
    -webkit-transition: .5s;
    transition: .5s;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px; /* Ajusta el espacio entre las cartas según sea necesario */
    justify-content: center;
    text-align: center;
    margin: 50px 240px 50px 240px;

}

.card {
    width: 290px;
    background-color: var(--container-color);
    padding: .5rem .5rem 1.5rem;
    border-radius: 1rem;
    margin: 0 auto;
    transition: .4s;
    border: 1.5px solid darkblue;
}

img {
    width: 220px; /* Ancho fijo */
    height: 170px; /* Alto fijo */
    object-fit: cover; /* Para que la imagen se ajuste y mantenga su proporción */
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.card-title, card__data {
    font-size: var(--h2-font-size);
    color: black;
    margin-bottom: 20px;

}

.card-text{
    border-bottom: 50px;
}
.caja-busqueda{
    margin: 20px 0 0 0;
    padding: 5px 0 0 0;
}

